@font-face {
	font-family: 'IranSansZ';
	src: url('../fonts/IranSansZ/iransansz-webfont.eot');
	src: url('../fonts/IranSansZ/iransansz-webfont.eot#iefix') format('embedded-opentype'),
	url('../fonts/IranSansZ/iransansz-webfont.woff') format('woff'),
	url('../fonts/IranSansZ/iransansz-webfont.svg') format('svg'),
	url('../fonts/IranSansZ/iransansz-webfont.svgz') format('svgz'),
	url('../fonts/IranSansZ/iransansz-webfont.ttf') format('truetype');
}
