::selection{
	background: rgba(255, 200, 0, 0.4);
}

::-moz-selection {
	background: rgba(255, 200, 0, 0.4);
}

html {
	direction: rtl;
}

body {
	text-align: right;
	padding: 0;
	margin: 0;
	background: #f7f7f7;
	font-family: Yekan, Tahoma;
}

.navbar-pencms {
	background-color: #3498db;
	border-color: #2980b9;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1) inset;
	margin: 0;

	.navbar-brand {
		color: #fff;
	}

	.navbar-text {
		color: #fff;
	}

	.navbar-nav {
		> li > a {
			color: #d0d0d0;

			&:hover,
			&:focus {
				color: #fff;
				background-color: #3498db;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: #fff;
			}
		}
	}

	.navbar-toggle {
		border-color: #34495e;
		background: #bdc3c7;
		&:hover,
		&:focus {
			background-color: #95a5a6;
		}
		.icon-bar {
			background-color: #34495e;
		}
	}

	.navbar-collapse,
	.navbar-form {
		border-color: $navbar-default-border;
	}

	// Dropdown menu items
	.navbar-nav {
		// Remove background color from open dropdown
		> .open > a {
			&,
			&:hover,
			&:focus {
				background-color: $navbar-default-link-active-bg;
				color: $navbar-default-link-active-color;
			}
		}

		@media (max-width: $grid-float-breakpoint-max) {
			// Dropdowns get custom display when collapsed
			.open .dropdown-menu {
				> li > a {
					color: $navbar-default-link-color;
					&:hover,
					&:focus {
						color: $navbar-default-link-hover-color;
						background-color: $navbar-default-link-hover-bg;
					}
				}
				> .active > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-default-link-active-color;
						background-color: $navbar-default-link-active-bg;
					}
				}
				> .disabled > a {
					&,
					&:hover,
					&:focus {
						color: $navbar-default-link-disabled-color;
						background-color: $navbar-default-link-disabled-bg;
					}
				}
			}
		}
	}


	// Links in navbars
	//
	// Add a class to ensure links outside the navbar nav are colored correctly.

	.navbar-link {
		color: $navbar-default-link-color;
		&:hover {
			color: $navbar-default-link-hover-color;
		}
	}

	.btn-link {
		color: $navbar-default-link-color;
		&:hover,
		&:focus {
			color: $navbar-default-link-hover-color;
		}
		&[disabled],
		fieldset[disabled] & {
			&:hover,
			&:focus {
				color: $navbar-default-link-disabled-color;
			}
		}
	}
}

header {
	background: #ecf0f1;
	margin: 0;
	padding: 20px 0 0;
	box-shadow: 0 -3px #bdc3c7 inset;
	.breadcrumb {
	  padding: 15px;
	  margin: 10px -15px 0;
	  list-style: none;
	  background-color: #eee;
	  border-radius: 5px 5px 0 0;
	  border: 1px solid #ccc;

	  > li {
		display: inline-block;

		+ li:before {
		  content: #{$breadcrumb-separator}\00a0; // Unicode space added since inline-block means non-collapsing white-space
		  padding: 0 5px;
		  color: $breadcrumb-color;
		}
	  }

	  > .active {
		color: $breadcrumb-active-color;
	  }
	}

}

#content {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background: #fff;
	padding: 15px;
	min-height: 350px;
}

footer {
	background: #3d3d3d;
	box-shadow: 0 3px #0d0d0d inset;
	padding: 0 0 20px;
	.container {
		background: #fff;
		border-radius: 0 0 5px 5px;
		border: 1px solid #ccc;
		border-top: none;
		padding: 10px;
	}
}

.row{
	margin-left: -5px;
	margin-right: -5px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 5px;
	padding-right: 5px;
}